<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.tms.mapper.TicketStroeMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.tms.entity.TicketStroe">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stroe_name" jdbcType="VARCHAR" property="stroeName" />
    <result column="stroe_manager" jdbcType="VARCHAR" property="stroeManager" />
    <result column="stroe_mobile" jdbcType="VARCHAR" property="stroeMobile" />
    <result column="stroe_address" jdbcType="VARCHAR" property="stroeAddress" />
    <result column="stroe_geo_longitude" jdbcType="VARCHAR" property="stroeGeoLongitude" />
    <result column="stroe_geo_latitude" jdbcType="VARCHAR" property="stroeGeoLatitude" />
    <result column="stroe_attachment" jdbcType="VARCHAR" property="stroeAttachment" />
    <result column="stroe_manager_attachment" jdbcType="VARCHAR" property="stroeManagerAttachment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stroe_name, stroe_manager, stroe_mobile, stroe_address, stroe_geo_longitude, 
    stroe_geo_latitude, stroe_attachment, stroe_manager_attachment, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.tms.entity.TicketStroeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ticket_stroe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket_stroe
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ticket_stroe
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.tms.entity.TicketStroeExample">
    delete from ticket_stroe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.tms.entity.TicketStroe">
    insert into ticket_stroe (id, stroe_name, stroe_manager, 
      stroe_mobile, stroe_address, stroe_geo_longitude, 
      stroe_geo_latitude, stroe_attachment, stroe_manager_attachment, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{stroeName,jdbcType=VARCHAR}, #{stroeManager,jdbcType=VARCHAR}, 
      #{stroeMobile,jdbcType=VARCHAR}, #{stroeAddress,jdbcType=VARCHAR}, #{stroeGeoLongitude,jdbcType=VARCHAR}, 
      #{stroeGeoLatitude,jdbcType=VARCHAR}, #{stroeAttachment,jdbcType=VARCHAR}, #{stroeManagerAttachment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.tms.entity.TicketStroe">
    insert into ticket_stroe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stroeName != null">
        stroe_name,
      </if>
      <if test="stroeManager != null">
        stroe_manager,
      </if>
      <if test="stroeMobile != null">
        stroe_mobile,
      </if>
      <if test="stroeAddress != null">
        stroe_address,
      </if>
      <if test="stroeGeoLongitude != null">
        stroe_geo_longitude,
      </if>
      <if test="stroeGeoLatitude != null">
        stroe_geo_latitude,
      </if>
      <if test="stroeAttachment != null">
        stroe_attachment,
      </if>
      <if test="stroeManagerAttachment != null">
        stroe_manager_attachment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stroeName != null">
        #{stroeName,jdbcType=VARCHAR},
      </if>
      <if test="stroeManager != null">
        #{stroeManager,jdbcType=VARCHAR},
      </if>
      <if test="stroeMobile != null">
        #{stroeMobile,jdbcType=VARCHAR},
      </if>
      <if test="stroeAddress != null">
        #{stroeAddress,jdbcType=VARCHAR},
      </if>
      <if test="stroeGeoLongitude != null">
        #{stroeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="stroeGeoLatitude != null">
        #{stroeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="stroeAttachment != null">
        #{stroeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="stroeManagerAttachment != null">
        #{stroeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.tms.entity.TicketStroeExample" resultType="java.lang.Long">
    select count(*) from ticket_stroe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticket_stroe
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stroeName != null">
        stroe_name = #{record.stroeName,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeManager != null">
        stroe_manager = #{record.stroeManager,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeMobile != null">
        stroe_mobile = #{record.stroeMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeAddress != null">
        stroe_address = #{record.stroeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeGeoLongitude != null">
        stroe_geo_longitude = #{record.stroeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeGeoLatitude != null">
        stroe_geo_latitude = #{record.stroeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeAttachment != null">
        stroe_attachment = #{record.stroeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.stroeManagerAttachment != null">
        stroe_manager_attachment = #{record.stroeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticket_stroe
    set id = #{record.id,jdbcType=INTEGER},
      stroe_name = #{record.stroeName,jdbcType=VARCHAR},
      stroe_manager = #{record.stroeManager,jdbcType=VARCHAR},
      stroe_mobile = #{record.stroeMobile,jdbcType=VARCHAR},
      stroe_address = #{record.stroeAddress,jdbcType=VARCHAR},
      stroe_geo_longitude = #{record.stroeGeoLongitude,jdbcType=VARCHAR},
      stroe_geo_latitude = #{record.stroeGeoLatitude,jdbcType=VARCHAR},
      stroe_attachment = #{record.stroeAttachment,jdbcType=VARCHAR},
      stroe_manager_attachment = #{record.stroeManagerAttachment,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.tms.entity.TicketStroe">
    update ticket_stroe
    <set>
      <if test="stroeName != null">
        stroe_name = #{stroeName,jdbcType=VARCHAR},
      </if>
      <if test="stroeManager != null">
        stroe_manager = #{stroeManager,jdbcType=VARCHAR},
      </if>
      <if test="stroeMobile != null">
        stroe_mobile = #{stroeMobile,jdbcType=VARCHAR},
      </if>
      <if test="stroeAddress != null">
        stroe_address = #{stroeAddress,jdbcType=VARCHAR},
      </if>
      <if test="stroeGeoLongitude != null">
        stroe_geo_longitude = #{stroeGeoLongitude,jdbcType=VARCHAR},
      </if>
      <if test="stroeGeoLatitude != null">
        stroe_geo_latitude = #{stroeGeoLatitude,jdbcType=VARCHAR},
      </if>
      <if test="stroeAttachment != null">
        stroe_attachment = #{stroeAttachment,jdbcType=VARCHAR},
      </if>
      <if test="stroeManagerAttachment != null">
        stroe_manager_attachment = #{stroeManagerAttachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.tms.entity.TicketStroe">
    update ticket_stroe
    set stroe_name = #{stroeName,jdbcType=VARCHAR},
      stroe_manager = #{stroeManager,jdbcType=VARCHAR},
      stroe_mobile = #{stroeMobile,jdbcType=VARCHAR},
      stroe_address = #{stroeAddress,jdbcType=VARCHAR},
      stroe_geo_longitude = #{stroeGeoLongitude,jdbcType=VARCHAR},
      stroe_geo_latitude = #{stroeGeoLatitude,jdbcType=VARCHAR},
      stroe_attachment = #{stroeAttachment,jdbcType=VARCHAR},
      stroe_manager_attachment = #{stroeManagerAttachment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>