<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.创建ActiveMq的链接工厂-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--2.spring适配JMS的链接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--3.适配JMSTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!--配置链接工厂-->
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--配置消息默认发送的目的地，非必要配置，在发送消息时也可指定-->
        <property name="defaultDestinationName" value="hey-topic"/>
    </bean>

    <!--4.配置监听器和监听容器-->
    <bean id="listener" class="com.kaishengit.jms.consumer.SpringQueueListener"/>
    <!--监听容器-->
    <bean id="messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destinationName" value="hey-topic"/>
        <property name="messageListener" ref="listener"/>
    </bean>


</beans>