<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--推荐使用类似类的完全限定名-->
<mapper namespace="com.kaishengit.mapper.SchoolMapper">

    <select id="findById" parameterType="int" resultType="com.kaishengit.entity.School">
        SELECT * FROM t_school WHERE id = #{id}
    </select>


</mapper>