<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--推荐使用类似类的完全限定名-->
<mapper namespace="com.kaishengit.mapper.StudentMapper">
    
    <resultMap id="baseMap" type="com.kaishengit.entity.Student">
        <id column="id" property="id" />
        <result column="student_name" property="studentName"/>
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="id" property="schoolId"/>
    </resultMap>

    
    <resultMap id="studentMapWithTag" type="com.kaishengit.entity.Student" extends="baseMap">
        <collection property="tagList" ofType="com.kaishengit.entity.Tag">
            <id column="tid" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="findByIdTag" parameterType="int" resultMap="studentMapWithTag">

        SELECT
            stu.id,
            stu.student_name,
            stu.age,
            stu.school_id,
            st.tid,
            t.tag_name
        FROM
            t_student stu
        INNER JOIN t_stu_tag st ON stu.id = st.sid
        INNER JOIN t_tag t ON st.tid = t.id
        WHERE
	        stu.id = #{id};

    </select>


    <resultMap id="studentMap" type="com.kaishengit.entity.Student" extends="baseMap">
        <association property="school" javaType="com.kaishengit.entity.School">
            <id column="id" property="id"/>
            <result column="school_name" property="schoolName"/>
            <result column="tel" property="tel"/>
        </association>

    </resultMap>

    <!--查询单个-->
    <select id="findById" parameterType="int" resultMap="studentMap">
      SELECT
	        stu.id,
            stu.student_name,
            stu.age,
            stu.address,
            stu.school_id,
            sch.school_name,
            sch.tel
        FROM
            t_student stu
        INNER JOIN t_school sch ON stu.school_id = sch.id
        WHERE
	  stu.id = #{id};

    </select>

    <!--使用OGNL的方式查找单个-->
    <select id="findId" parameterType="int" resultType="com.kaishengit.entity.Student">
        SELECT
            stu.id,
            stu.student_name,
            stu.age,
            stu.address,
            stu.school_id,
            sch.id as 'school.id',
            sch.school_name as 'school.schoolName',
            sch.tel as 'school.tel'
        FROM
          t_student stu
        INNER JOIN t_school sch ON stu.school_id = sch.id
        WHERE
         stu.id = #{id};

    </select>

    <!--查找全部-->
    <select id="findAll" resultMap="studentMap">
        SELECT
            stu.id,
            stu.student_name,
            stu.age,
            stu.address,
            stu.school_id,
            sch.school_name,
            sch.tel
        FROM
           t_student stu
        INNER JOIN t_school sch ON stu.school_id = sch.id

    </select>


</mapper>