<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--推荐使用类似类的完全限定名-->
<mapper namespace="com.kaishengit.mapper.UserMapper">

    <!--
       id:唯一，最好写成类似于方法名
       parameterType : 参数类型 一个参数的情况下可以省略
       resultType: 返回值类型
     -->
    <select id="findByid" parameterType="int" resultType="com.kaishengit.entity.User">
        SELECT  * FROM t_user WHERE id = #{id}
    </select>

    <!--resultType可使用user也可以使用该entity的完全限定名-->
    <select id="findAll" resultType="com.kaishengit.entity.User" >
        SELECT * FROM t_user
    </select>

    <insert id="save" parameterType="com.kaishengit.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (user_name, age, phone_num) VALUES (#{userName}, #{age}, #{phoneNum})
    </insert>

    <update id="update" parameterType="com.kaishengit.entity.User">
        UPDATE t_user SET user_name=#{userName} ,age=#{age}, phone_num=#{phoneNum}
        WHERE id=#{id}
    </update>

    <delete id="delById">
        delete from t_user where id = #{id}
    </delete>
    
    <select id="page" resultType="com.kaishengit.entity.User" parameterType="map">
          SELECT * FROM t_user limit #{start}, #{size}
    </select>
    <!--SELECT * FROM t_user limit #{param1}, #{param2}-->
    <select id="page2" resultType="com.kaishengit.entity.User">
          SELECT * FROM t_user limit #{arg0}, #{arg1}
    </select>

    <select id="page3" resultType="com.kaishengit.entity.User">
        SELECT * FROM t_user limit #{start}, #{size}
    </select>

</mapper>